@using CEGES_MVC.ViewModels.EntrepriseVM
@model EntrepriseDetailsVM
@{
    ViewData["Title"] = "Détails entreprise exemple";
}
<h3>
    @Model.Nom
    <small class="text-muted">(Entreprise)</small>
</h3>
<div class="row pb-3 backgroundWhite">
    <div class="col-md-4 col-sm-12">
        <a asp-controller="Entreprise" asp-action="Upsert" asp-route-id="@Model.Id" class="btn btn-secondary w-100">
            <i class="fas fa-plus-circle"></i> &nbsp;Modifier l'entreprise
        </a>
    </div>
</div>


@{ 
    <div class="row">

        
        @foreach (var groupe in Model.Groupes)
        {

            <div class="col mb-4">
                <div class="card h-100" style="min-width: 15rem; max-width: 18rem;">
                    <img src="/images/groupe.png" class="card-img-top rounded" />
                    <div class="card-body">
                        <p class="card-title h5 text-center"><b style="color:#2c3e50">@groupe.Nom</b></p>
                        <div class="card-block">
                            <div class="row no-gutters">
                                <div class="col-md-7 text-right">
                                    Équipement&nbsp;:&nbsp;
                                </div>
                                <div class="col-md-5 text-left">
                                    @groupe.EquipementCount&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Groupe" asp-action="Details" asp-route-id="@groupe.Id" class="card-link">Details</a>
                    </div>
                </div>
            </div>
        }

            
        <div class="col mb-4">
            <div class="card h-100" style="min-width: 15rem; max-width: 18rem;">
                <img src="/images/groupe.png" class="card-img-top rounded" style="opacity: 0.25" />
                <div class="card-body">
                    <p class="card-title h5 text-center"><b style="color:#2c3e50">&nbsp;</b></p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Groupe" asp-action="Insert" asp-route-id="@Model.Id" class="btn btn-secondary form-control">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
}

<div class="row pb-3 backgrounsWhite">
    <div class="col-4 pb-2 align-items-end">
        <a asp-controller="Entreprise" asp-action="Index" class="btn btn-secondary  col-10">
            <i class="fas fa-plus-circle"></i> &nbsp;Retour à la liste des entreprises
        </a>
    </div>
</div>
