@using CEGES_MVC.ViewModels.EquipementVMs
@using CEGES_MVC.ViewModels.RapportVMs
@using CEGES_Util
@model RapportDetailsVM

@{
    ViewData["Title"] = "Février 2022";
    //var date = DateTime.Parse(Context.Request.Query["RapportDebut"]);
    var date = (DateTime)ViewData["DateDebut"];


}

<h3>
    @*date.Item1.ToMonthName().CapitalizeFirst()} {date.Item1.Year}*@
    @($"{date.ToMonthName().CapitalizeFirst()} {date.Year}")


    <small class="text-muted">(@Html.DisplayFor(m=>m.EntrepriseNom)</small>
</h3>

<form asp-action="Upsert" method="post" enctype="multipart/form-data">

    @Html.HiddenFor(m=>m.Id);
    @Html.HiddenFor(m=>m.EntrepriseNom)
    @Html.HiddenFor(m=>m.EntrepriseId);
    @Html.HiddenFor(m=>m.DateDebut)


    @foreach (var groupe in Model.GroupedEquipements)
    {
        <div class="list-group list-group-flush">
            <div class="list-group-item active mt-3">
                @groupe.Key

            </div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6 font-weight-bold">
                                Nom de l'équipement
                            </div>
                            <div class="col-6">
                                Type de l'équipement
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                Formule
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        Mesure
                    </div>
                    <div class="col-3">
                        Émissions mensuelles
                    </div>
                </div>
            </div>
            @foreach (var equipement in groupe.Value.Select((value, i) => (value, i)))
            {
                @Html.HiddenFor(m=>m.GroupedEquipements[groupe.Key][equipement.i].GroupeNom)

                @Html.HiddenFor(m=>m.GroupedEquipements[groupe.Key][equipement.i].EquipementVM.Id)
                @Html.HiddenFor(m=>m.GroupedEquipements[groupe.Key][equipement.i].EquipementVM.Nom)
                @Html.HiddenFor(m=>m.GroupedEquipements[groupe.Key][equipement.i].EquipementVM.Type)
                @Html.HiddenFor(m=>m.GroupedEquipements[groupe.Key][equipement.i].EquipementVM.GroupeId)
                @Html.HiddenFor(m=>m.GroupedEquipements[groupe.Key][equipement.i].EquipementVM.Description)
               


                <div class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6 font-weight-bold">
                                    @equipement.value.EquipementVM.Nom
                                </div>
                                <div class="col-6">
                                    @equipement.value.EquipementVM.Type
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    @*10 t/j (calcul i think??)*@
                                    @switch (equipement.value.EquipementVM)
                                    {
                                        case EquipementConstantVM c:
                                            @Html.DisplayFor(m=>c.Quantite) @Html.Raw(" t / j x 30 j")
                                            break;
                                        case EquipementLineaireVM l:
                                            @*TODO: A REVOIR*@
                                            @Html.Raw($"{l.FacteurConversion} t / {l.UniteMesure} x {equipement.value.Mesure} {l.UniteMesure}")
                                            break;
                                        case EquipementRelatifVM r:
                                            @*0 % de[1, 57 à 12, 8] t / j × 31 j*@
                                            @Html.Raw($"{equipement.value.Mesure}% de [{r.IntensiteZero} à {r.IntensiteZero}] t / j x 30 j")
                                            break;
                                        default:
                                            break;
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            @switch (equipement.value.EquipementVM)
                            {
                                case EquipementConstantVM c:
                                    Html.Raw("&nbsp;");
                                    break;
                                case EquipementLineaireVM l:
                                    @Html.TextBoxFor(m=>m.GroupedEquipements[groupe.Key][equipement.i].Mesure)
                                    @Html.DisplayFor(m=>l.UniteMesure)
                                    break;
                                case EquipementRelatifVM r:
                                    @Html.TextBoxFor(m=>m.GroupedEquipements[groupe.Key][equipement.i].Mesure)
                                    @Html.Raw("%")
                                    break;
                                default:
                                    break;
                            }

                        </div>
                        <div class="col-3">&nbsp;</div>
                    </div>
                </div>
            }

        </div>
    }


    <div class="form-group row mt-3">
        <div class="col-4 offset-4">
            @if (Model.Id != 0)
            {
                //update
                <div class="col">
                    <input type="submit" class="btn btn-info w-100" value="Enregistrer" />
                </div>
            }
            else
            {
                //create
                <div class="col">
                    <input type="submit" class="btn btn-primary w-100" value="Ajouter le rapport" />
                </div>
            }
        </div>
        <div class="col-4">
            <a asp-action="Liste" class="btn btn-secondary w-100"><i class="fas fa-sign-out-alt"></i> Retour à Entreprise exemple</a>
        </div>
    </div>
</form>