@using CEGES_MVC.ViewModels.GroupeVMs
@model GroupeUpsertVM
@{
    if (Model.Id == 0)
    {
        ViewData["Title"] = "Ajouter un groupe";
    }
    else
    {
        ViewData["Title"] = "Modifier un groupe";
       
    }
}

<form method="post" enctype="multipart/form-data" asp-action="Upsert">
    @Html.HiddenFor(model => model.EntrepriseId);
    @if (Model.Id != 0)
    {
        <input asp-for="Id" hidden />
        
    }
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@ViewData["Title"]</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label>Entreprise</label>
                    </div>
                    <div class="col-8">
                        @Model.EntrepriseNom
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>@Html.DisplayNameFor(m=>m.Nom)</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="@Model.Nom" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        @if (Model.Id != 0)
                        {
                            //update
                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Enregistrer" />
                            </div>
                            <div class="col">
                                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary  col-10">
                                    <i class="fas fa-plus-circle"></i> &nbsp;Retour
                                </a>
                            </div>
                        }
                        else
                        {
                            //create
                            <div class="col">
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Ajouter" />
                            </div>
                            <div class="col">
                                <a asp-controller="Entreprise" asp-action="Details" class="btn btn-secondary  col-10">
                                    <i class="fas fa-plus-circle"></i> &nbsp;Retour
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
